:root {
	--ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--ease-spring-soft: cubic-bezier(0.175, 0.885, 0.32, 1);

	--ease-pop: cubic-bezier(0.34, 3.5, 0.64, 0.8);
	--ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
	--ease-swipe: cubic-bezier(0.83, 0, 0.17, 1);

	--ease-standard: cubic-bezier(0, 0, 0.2, 1);
}
